<div class="" style="background-color: thistle;">
    <form action = "/" method = "POST">
        <div class="form-group row">
            <div style="width: 100%;">
            <label for="exampleInputEmail1">Enter the Description Words: </label>
            <input id="description" class="form-control" name="description" placeholder="Description">
        </div>   
        </div>
        <div class="form-group form-check">
        </div>
            <button type="submit" class="btn btn-primary" name="button" value="Show" style="background-color: silver;">Show</button>
            <button type="submit" class="btn btn-primary" name="button" value="Save" style="background-color: silver;">Save</button>
    </form>
    
    
    <div style="background-color: lightgray;">
    <%if(typeof name != 'undefined'){%> 
        <h3>Prediction eclassnumber: <%=name  %> </h3>
    <% } %> 
    </div>
    </div>